/* purgecss start ignore */
@tailwind base;

body {
  height: 100vh;
  background-color: rgb(0, 0, 0);
}

h1 {
  @apply text-3xl text-white font-bold;
}
h2 {
  @apply text-2xl text-white font-bold;
}
h3 {
  @apply text-xl text-white font-bold;
}
h5 {
  @apply text-indigo-600 font-bold;
}
a {
  @apply text-white underline;
}
a:hover {
  @apply text-indigo-300 no-underline;
}
p {
  @apply mb-4 text-gray-400;
}

ul {
  @apply list-disc pl-6 text-white;
}

hr {
  @apply my-4;
  margin: 1rem 6rem;
}

blockquote {
  @apply py-1 px-4 mb-4 border-l-2 border-blue-500;
}
blockquote p {
  @apply m-0 font-serif text-xl;
}

code {
  @apply text-sm text-orange-800 bg-orange-100 px-1 -mx-1 rounded;
}

pre {
  @apply mb-4;
}

pre > code {
  @apply p-0 m-0 mb-2 bg-transparent;
}

img {
  border-radius: 10px;
}

.refs-box {
  margin-top: 20px;
}

@tailwind components;

/* copied from tippy.js/animations/shift-away.css */
.tippy-box[data-animation='shift-away'][data-state='hidden'] {
  opacity: 0;
}
.tippy-box[data-animation='shift-away'][data-state='hidden'][data-placement^='top'] {
  transform: translateY(10px);
}
.tippy-box[data-animation='shift-away'][data-state='hidden'][data-placement^='bottom'] {
  transform: translateY(-10px);
}
.tippy-box[data-animation='shift-away'][data-state='hidden'][data-placement^='left'] {
  transform: translateX(10px);
}
.tippy-box[data-animation='shift-away'][data-state='hidden'][data-placement^='right'] {
  transform: translateX(-10px);
}
/* purgecss end ignore */

@tailwind utilities;

.highlight {
  @apply bg-indigo-600 px-1 -mx-1 rounded;
}

/* purgecss start ignore */

.note-container {
  max-width: 100vw;
  border-right: 1px solid rgb(255,255,255);
  border-left: 1px solid rgb(255,255,255);
}

.note-container:first-child {
  border-left: none;
}

@media (max-width: 768px) {
  .note-columns-container {
    width: unset !important;
  }

  .note-container {
    width: 100% !important;
  }
}

/* purgecss end ignore */
